
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="styles/styles.css">
    <link href="lib/bootstrap.min.css">
    <script src="lib/vue.js"></script>
    <script src="bundle.js"></script>
    <script src="Commands.js"></script>
    <title>Orbit Discussion</title>
  </head>
  <body>
    <div id="app">

      <div class="container-fluid column" v-if="ready">
       <div v-if="thread != null" id="thread" class="col">
        
        <iframe
         id="threadTopic"
         v-bind:title="threadCID"
         v-bind:src="`https://ipfs.io/ipfs/${thread.cid}`"
          ></iframe>

        <p class="column">
          <code>Thread ID: {{ threadId }}</code>
          <code>CID: {{ threadCID }}</code>
          <code>Topics: {{ threadTopics }}</code>
        </p>
        
        <div class="column" v-for="moderator in thread.moderators">
          <p>{{ accounts.get(moderator) }}</p>
        </div>
      <div class="comments column" id="comments">
      <div v-for="comment in thread.comments" class="row comment">
        <p>{{ comment.comment }}</p>
        <p>{{ accounts.get(comment.id) }}</p>
      </div>
      </div>
      </div>

     
      <p class="msg" v-show="message !== ''">
        <code v-html="message">
        </code>
      </p>
        
      <input
        id="input"
        class="row input-field"
        type="text"
        placeholder="Input..."
        spellcheck="true"
        
        v-on:change="onInput"
        v-model="line"
        >
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>

