html {
    overflow-y: auto;
    overflow-x: hidden;
}

img, video, iframe {
    height: 25vw;
    width: auto;
}

.input-field {
    width: 100%;
    overflow: hidden;
}

.msg {
    font-size: 12px;
}
